@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@mixin fonts{
  font-family: 'Love Ya Like A Sister', cursive;
}

.farbe-purple{
  border:1px solid $purple;
  border-radius: 0;
  color: $purple;

  &:hover{
    border:1px solid $purple;
    color: $purple;
  }
}
.border-color{
  border:1px solid $black;
}
.hintergrund-purple{
  background-color: $purple;
}

#text_section2{
  color:$white;
@include fonts;

}
#form-h2{
  @include fonts;
}

// This is where you can import other stylesheets or write your scss code
